.container.top-padding-med
    .btn.btn-default(ng-click="doAdd()")
            span.glyphicon.glyphicon-plus  
    .pull-right.h4 My Brews
    .col-md-12.text-center(ng-show="showNoBrews") You have no brews! You should
        a(href="/brew/add")&nbsp;add one.
    table.table.table-hover.table-striped.table-condensed(ng-show="!showNoBrews")
        thead
            tr
                th.col-md-4 
                    a(href="" ng-click="order('name')") Batch name
                th.col-md-3 
                    a(href="" ng-click="order('statusCde')") Status
                th.col-md-3 
                    a(href="" ng-click="order('brewDate')") Brew date
        tbody
            tr(ng-repeat="brew in brews | orderBy:predicate:reverse")
                td
                    a(href="/brew/view/{{brew._id}}") {{ brew.name }}
                td {{ getStatusDisplay(brew.statusCde) }}
                td {{ brew.brewDate | date:'M/d/yyyy' }}
    .col-md-12.text-center 
        .div(ng-show="limitResults") Showing {{ listLimit }} latest brews. 
            a(href="", ng-click="getAllCurrentUserBrews()") Show All.