.container.top-padding-med
    .btn.btn-default(ng-click="doAdd()")
        span.glyphicon.glyphicon-plus  
    .pull-right.h3 My Brews
    table.table.table-hover.table-striped.table-condensed
        thead
            tr
                th.col-md-4 
                    a(href="" ng-click="order('name')") Batch name
                th.col-md-3 
                    a(href="" ng-click="order('statusCde')") Status
                th.col-md-3 
                    a(href="" ng-click="order('brewDate')") Brew date
        tbody
            tr(ng-repeat="brew in brews | orderBy:predicate:reverse")
                td
                    a(href="/brew/view/{{brew._id}}") {{ brew.name }}
                td {{ getStatusDisplay(brew.statusCde) }}
                td {{ brew.brewDate | date:'M/d/yyyy' }}
                