.container.top-padding-med
    .btn.btn-default(ng-click="doAdd()")
        span.glyphicon.glyphicon-plus  
    .pull-right
        form.form-inline
            .form-group.margin-left-med
                select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
    div
        &nbsp;
    table.table.table-hover.table-striped.table-condensed
        thead
            tr
                th.col-md-4 Batch name
                th.col-md-3 Status
                th.col-md-3 Brew date
        tbody
            tr(ng-repeat="brew in brews | orderBy:statusCde")
                td
                    a(href="/brew/view/{{brew._id}}") {{ brew.name }}
                td {{ getStatusDisplay(brew.statusCde) }}
                td {{ brew.brewDate | date:'M/d/yyyy' }}
                