.container
    h1 {{brew.name}}
        .row
            .col-md-6
                p
                    Are you sure you wanna delete this brew?
                    a(href="" ng-click="onConfirmDelete()") Delete It!