.container
    .col-md-8.col-md-offset-2
        .btn.btn-default(ng-click="doGoBack()")
            span.glyphicon.glyphicon-circle-arrow-left  
    .col-md-8.col-md-offset-2
        h3.text-center {{ brew.name }}
        table.table
            tbody
                tr
                    td.view-label Recipe
                    td
                        a(href="/recipe/view/{{ brew.recipeId }}") {{ recipeName }}
                tr
                    td.view-label Description
                    td {{ brew.description }}
                tr
                    td.view-label Batch size
                    td {{ brew.batchSize }} gallon(s)
                tr
                    td.view-label Status
                    td {{ statusLookup.getDisplay(brew.statusCde) }}
                tr
                    td.view-label Brew date
                    td {{ brew.brewDate | date:'M/d/yyyy' }}
                tr
                    td.view-label Bottle date
                    td {{ brew.bottleDate | date:'M/d/yyyy' }}
                tr
                    td.view-label Chill date
                    td {{ brew.chillDate | date:'M/d/yyyy' }}
    .col-md-8.col-md-offset-2
        .btn.btn-danger(ng-click="doDelete()", ng-show="isBrewOwnedByCurrentUser()")  
            .pull-right &nbsp;Delete
            span.glyphicon.glyphicon-remove 
        .pull-right
            .btn.btn-default(ng-click="doEdit()", ng-show="isBrewOwnedByCurrentUser()") 
                .pull-right &nbsp;Modify
                span.glyphicon.glyphicon-pencil  