.container
    .jumbotron
        h1 BrewKeeper
        p The keeper of brews. BrewCreeper.

    .row
        .col-md-6
            div(ng-include="'/partials/featured-brews'")
        .col-md-6
            div(ng-include="'/partials/new-brews'")