a {
    color: #009999;
}

select {
    color: #000;
}

.navbar {
    background-color: #006666;
    padding: 0.1em;
}

.navbar-inverse .navbar-nav li a {
    color: #ddd;
}

.navbar-header a.navbar-brand {
    color: #eee;
    font-size: 2em;
}

.nav a {
    font-size: 1.2em;
}

.panel {
    border-color: #006666;
}

.panel .panel-heading {
    border-color: #006666;
    background-color: #006666;
}

footer {
    padding-left: 15px;
    padding-right: 15px;
}
footer p {
    border-top: 1px solid #d7e0e2;
}

.navbar-form .form-group {
    margin-left: 10px;
}

.navbar-form button {
    margin-left: 10px;
}

.toast-top-right {
    top: 70px;
}

.toast-success {
    background-color: #23A98f;
}

.top-padding-med {
    padding-top: 10px;
}

.margin-left-med {
    margin-left: 10px;
}

.navbar-collapse {
    overflow-x: hidden;

    /* TODO: hack from Stack Overflow... better but not right (horizontal scrollbar appears when navbar links are clicked (not mobile)) */
    -webkit-transition: height 0.01s;
    -moz-transition: height 0.01s;
    -o-transition: height 0.01s;
    transition: height 0.01s;
}