.container
    h1 Brew Details
    .row
        .col-md-8  
            table.table.table-bordered
                tbody
                    tr
                        td.col-md-4 Batch number
                        td [brew.batchNum]
                    tr
                        td Recipe
                        td {{ brew.recipeId }}
                    tr
                        td Current status
                        td {{ statusLookup.getDisplay(brew.statusCde) }}
                    tr
                        td Brew date
                        td {{ brew.brewDate }}
                    tr
                        td Bottle date
                        td {{ brew.bottleDate }}
                    tr
                        td Chill date
                        td {{ brew.chillDate }}
                
        .col-md-4
            .btn-group
                .btn.btn-default(ng-click="doEdit()" ng-show="isBrewOwner()") Edit
                .btn.btn-danger(ng-click="doDelete()" ng-show="isBrewOwner()") Delete  