extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-static-top
        .container
            .navbar-header
                .button.navbar-toggle(data-toggle="collapse" data-target="#navBar")
                    .span.icon-bar
                    .span.icon-bar
                    .span.icon-bar
                a.navbar-brand(href="/") BrewKeeper

            .navbar-collapse.collapse(id="navBar")
                div(ng-include="'/partials/views/account/navbar-login'")
                

    section.content
        div(ng-view)

    footer.container.text-center
        p &copy; 2015 BrewKeeper