.well
    .ul
        .li 
            span.glyphicon.glyphicon-home &nbsp;
            a(href="/") Home

        .li 
            span.glyphicon.glyphicon-book &nbsp;
            a(href="brews/") Brews
        .li 
            span.glyphicon.glyphicon-th-list &nbsp;
            a(href="recipes/") Recipes
        