.panel.panel-primary
    .panel-heading.text-center Welcome!
    .panel-body
        .div(style="margin-bottom:1em;") Please log in or <a href="/signup">sign up</a>.
        .div
            form.form-horizontal(name="loginForm")
                fieldset
                    .form-group
                        .col-md-12
                            input.form-control(placeholder="Username", ng-model="username")
                    .form-group
                        .col-md-12
                            input.form-control(type="password", placeholder="Password", ng-model="password")
                    .form-group
                        .col-md-12
                            .div(style="text-align:center")
                                button.btn.btn-primary(ng-click="signin(username, password)") Sign in