.navbar-right(ng-controller="NavBarLoginCtrl")
    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li(ng-show="identity.currentUser.isAdmin()")
            a(href="/admin/users") User Admin
        li
            a(data-toggle="collapse" data-target=".navbar-collapse" href="/") Overview
        li
            a(data-toggle="collapse" data-target=".navbar-collapse" href="/brew") Brews
        li
            a(data-toggle="collapse" data-target=".navbar-collapse" href="/recipe") Recipes
        li
            a(data-toggle="collapse" data-target=".navbar-collapse" href="/profile") Profile
        li
            span &nbsp;&nbsp;
        li
            a(href="", ng-click="signout()") Sign Out

    ul.nav.navbar-nav.navbar-right(ng-show="!identity.isAuthenticated()")
        li
            a(href="/signup/") Sign Up