.container
    .row
        .col-md-12
            .panel.panel-primary
                .panel-heading.text-center In Progress
                .panel-body 
                    .div(ng-show="noActivity") Get brewing! You have no active brews to show.
                    .div(ng-show="!noActivity") Active brews...
            