.container.top-padding-med
    h3.text-center Overview
    .col-md-12
        div(ng-show="hasActivity")
            .col-md-6(ng-show="!!fermentingBrews.length")
                table.table.table-hover.table-striped.table-condensed
                    caption Fermenting brews
                    thead
                        tr
                            th.col-md-3 Batch name
                            th.col-md-3 Bottle date
                    tbody
                        tr(ng-repeat="brew in fermentingBrews | orderBy:brewDate:reverse")
                            td
                                a(href="/brew/view/{{brew._id}}") {{ brew.name }}
                            td {{ brew.bottleDate | date:'M/d/yyyy' }}

            .col-md-6(ng-show="!!bottledBrews.length")
                table.table.table-hover.table-striped.table-condensed
                    caption Bottled brews
                    thead
                        tr
                            th.col-md-3 Batch name
                            th.col-md-3 Chill date
                    tbody
                        tr(ng-repeat="brew in bottledBrews | orderBy:brewDate:reverse")
                            td
                                a(href="/brew/view/{{brew._id}}") {{ brew.name }}
                            td {{ brew.chillDate | date:'M/d/yyyy' }}

        div.text-center(ng-show="!hasActivity") Get brewing! You have no active brews.
            