.container.top-padding-med
    .col-md-12
        div(ng-show="hasActivity")
            .panel.panel-default.col-md-5(ng-show="!!fermentingBrews.length")
                .panel-title
                    h4.overview-widget-header Fermenting brews
                .panel-body
                    table.table.table-hover.table-striped.table-condensed
                        thead
                            tr
                                th.col-md-3 Batch name
                                th.col-md-3.text-right Bottle date
                        tbody
                            tr(ng-repeat="brew in fermentingBrews | orderBy:brewDate:reverse")
                                td
                                    a(href="/brew/view/{{brew._id}}") {{ brew.name }}
                                td.text-right {{ brew.bottleDate | date:'M/d/yyyy' }}

            .panel.panel-default.col-md-5.col-md-offset-2(ng-show="!!bottledBrews.length")
                .panel-title 
                    h4.overview-widget-header Bottled brews
                .panel-body
                    table.table.table-hover.table-striped.table-condensed
                        thead
                            tr
                                th.col-md-3 Batch name
                                th.col-md-3.text-right Chill date
                        tbody
                            tr(ng-repeat="brew in bottledBrews | orderBy:brewDate:reverse")
                                td
                                    a(href="/brew/view/{{brew._id}}") {{ brew.name }}
                                td.text-right {{ brew.chillDate | date:'M/d/yyyy' }}

        div.text-center(ng-show="!hasActivity") Get brewing! You have no active brews.
            