.container.top-padding-med
    .btn.btn-default(ng-click="doAdd()")
        span.glyphicon.glyphicon-plus  
    div
        &nbsp;
    table.table.table-hover.table-striped.table-condensed
        thead
            tr
                th.col-md-4  Name
                th.col-md-3  Type
                th.col-md-3  Source
        tbody
            tr(ng-repeat="recipe in recipes | orderBy:'name'")
                td 
                    a(href="/recipe/view/{{recipe._id}}") {{recipe.name}}
                td {{recipe.type }}
                td {{recipe.source }}
                