.container
    h1 Recipe Details
    .row
        .col-md-8  
            table.table.table-bordered
                tbody
                    tr
                        td Name
                        td {{ recipe.name }}
                    tr
                        td Source
                        td 
                            a(href="{{ recipe.sourceUrl }} ") {{ recipe.sourceName }}
                    tr
                        td Times Brewed
                        td {{ recipe.timesBrewed }}
                    tr
                        td Description
                        td {{ recipe.description }}
                
        .col-md-4
            .btn-group
                .btn.btn-default(ng-click="doEdit()" ng-show="recipeSvc.isRecipeOwnedByCurrentUser(recipe)") Edit
                .btn.btn-danger(ng-click="doDelete()" ng-show="recipeSvc.isRecipeOwnedByCurrentUser(recipe)") Delete  