.container
    h1 {{recipe.name}}
        .row
            .col-md-12
                h3 Type: {{ recipe.description }}
                h4 Source: 
                    a(href="{{ recipe.sourceUrl }} ") {{ recipe.sourceName }}