.navbar-right(ng-controller="NavBarLoginCtrl")
    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li(ng-show="identity.currentUser.isAdmin()")
            a(href="/admin/users") User Admin
        li
            a(href="/profile") Profile
        li
            a(href="", ng-click="signout()") Sign Out