doctype html
html
  head
    title BrewKeeper
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/vendor/datepicker/css/datepicker.css")
    link(rel="stylesheet", href="/css/site.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body(ng-app='BrewKeeper')
    include currentUser
    block main-content
    include scripts