
if (!dev)
    script(type="text/javascript", src="/application.js") 
    // for local testing, use instead of application.js:
    //script(type="text/javascript", src="/application-debug.js")
    
else
    script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
    script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
    script(type="text/javascript", src="/vendor/toastr/toastr.js")
    script(type="text/javascript", src="/vendor/datepicker/js/bootstrap-datepicker.js")
    script(type="text/javascript", src="/vendor/angular/angular.js")
    script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
    script(type="text/javascript", src="/vendor/angular-route/angular-route.js")

    // common
    script(type="text/javascript", src="/app/app.js")
    script(type="text/javascript", src="/app/common/controllers/BaseCtrl.js")
    script(type="text/javascript", src="/app/common/services/BrewKeeperApi.js")
    script(type="text/javascript", src="/app/common/services/DatePicker.js")
    script(type="text/javascript", src="/app/common/services/Notifier.js")
    // main
    script(type="text/javascript", src="/app/main/controllers/MainCtrl.js")
    script(type="text/javascript", src="/app/main/controllers/NavBarLoginCtrl.js")
    script(type="text/javascript", src="/app/main/controllers/UserHomeCtrl.js")
    // account
    script(type="text/javascript", src="/app/account/controllers/EditProfileCtrl.js")
    script(type="text/javascript", src="/app/account/controllers/SignupCtrl.js")
    script(type="text/javascript", src="/app/account/controllers/ViewProfileCtrl.js")
    script(type="text/javascript", src="/app/account/services/Auth.js")
    script(type="text/javascript", src="/app/account/services/Identity.js")
    script(type="text/javascript", src="/app/account/services/User.js")
    // brew
    script(type="text/javascript", src="/app/brew/controllers/BaseAddEditBrewCtrl.js")
    script(type="text/javascript", src="/app/brew/controllers/AddBrewCtrl.js")
    script(type="text/javascript", src="/app/brew/controllers/BrewListCtrl.js")
    script(type="text/javascript", src="/app/brew/controllers/DeleteBrewCtrl.js")
    script(type="text/javascript", src="/app/brew/controllers/EditBrewCtrl.js")
    script(type="text/javascript", src="/app/brew/controllers/ViewBrewCtrl.js")
    script(type="text/javascript", src="/app/brew/services/Brew.js")
    script(type="text/javascript", src="/app/brew/services/BrewStatus.js")
    // recipe
    script(type="text/javascript", src="/app/recipe/controllers/AddRecipeCtrl.js")
    script(type="text/javascript", src="/app/recipe/controllers/DeleteRecipeCtrl.js")
    script(type="text/javascript", src="/app/recipe/controllers/EditRecipeCtrl.js")
    script(type="text/javascript", src="/app/recipe/controllers/RecipeListCtrl.js")
    script(type="text/javascript", src="/app/recipe/controllers/ViewRecipeCtrl.js")
    script(type="text/javascript", src="/app/recipe/services/Recipe.js")