.panel.panel-primary
    .panel-heading.text-center Featured Brews
    .panel-body 
        .row(ng-repeat="brew in brews | filter:{featured:true}")
            .col-md-12 
                a(href="/brews/{{brew._id}}") {{brew.name}}